.student-details {
    margin-top: 50px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: auto;
  }
  
  .student-details h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #004d80;
  }
  
  .details-card {
    padding: 0px 0px 30px 30px;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
  
  .details-card p {
    margin: 10px 0;
  }
  
  .details-card strong {
    color: #004d80;
  }

  .btn-danger {
    margin-left: 20px;
    flex: 1 1 calc(20% - 10px);
    padding: 10px 20px; 
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 .btn-danger:hover {
    background-color: rgb(163, 7, 7);
  }

  .btn-primary {
    flex: 1 1 calc(20% - 10px);
    padding: 10px 20px;
    background-color: #004d80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 .btn-primary:hover {
    background-color: #003456;
  }

  @media(max-width:480){
    .student-details{
      width: 100%;
    }
  }