.chat-ai {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.response {
  background-color: #f0f4f8;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
}

.chat-entry {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.question{
    display: flex;
    justify-content: flex-end;
}
.answer{
    display: flex;
    justify-content:flex-start;
}
#prompt {
  display: flex;
  gap: 10px;
  bottom: 0vh;
  position: sticky;
}

#prompt input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#prompt button {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 0 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

#prompt button:hover {
  background-color: #1e40af;
}

.spinner {
  display: grid;
  place-content: center;
  margin-top: 10px;
  border: 4px solid #eee;
  border-top: 4px solid #004d80;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
